In [2]:
import pandas as pd

In [22]:
data = pd.read_csv("testbench.csv", index_col=0)
data.head()

,S1,S2,S3,S4,S5,S6,T1,T2,T3,T4,T5,gap,W,H,ratio_spec_(%)
case,,,,,,,,,,,,,,,
case_1,15300,10000,13900,15000,15500,13200,8000,11000,12300,10700,9000,30,600,400,55.79
case_2,8000,9000,12000,12000,13000,11000,7000,6000,5000,8500,5000,30,600,400,40.21
case_3,7600,9500,10100,10500,8500,10300,14200,11500,12400,9700,8700,30,600,400,47.08
case_4,14000,8200,12300,8900,13300,11400,11800,12500,10300,9200,8900,30,600,500,40.27
case_5,11500,7500,22000,10000,11000,13500,12000,12500,8500,18000,18600,30,600,500,48.37

In [23]:
# 打印所有的索引
print(data.index)

Index(['case_1', 'case_2', 'case_3', 'case_4', 'case_5', 'case_6', 'case_7',
       'case_8', 'case_9', 'case_10', 'custom'],
      dtype='object', name='case')

In [28]:
data.iloc[0][0]

15300.0

In [31]:
data.columns[:11].tolist()

['S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'T1', 'T2', 'T3', 'T4', 'T5']